{
    "extends": ["airbnb", "airbnb/hooks"],
    "rules": {
        "react/jsx-no-useless-fragment": "off",
        "react/no-array-index-key": "off",
        "no-undef": "off",
        "react/self-closing-comp": "off"
    }
}