{
    "extends": ["airbnb", "airbnb/hooks"],
    "rules": {
        "react/jsx-no-useless-fragment": "off",
        "react/no-array-index-key": "off",
        "no-undef": "off",
        "react/self-closing-comp": "off",
        "consistent-return": "off",
        "no-shadow": "off",
        "prefer-template": "off",
        "react/jsx-no-constructed-context-values": "off",
        "react-hooks/exhaustive-deps": "off"
    }
}